.btn{
    background-color: rgba(215, 191, 8, 0.918);
    color: black;
    display: flex;
    padding:10px 25px;
    margin-left: 35cm;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}