#final-section-body {
    height: 708px;
    width: 1920px;
    display: flex;
    background-color: #FFF;
}

#teacher-img {
    margin-left: 282px;
    margin-top: 105px;
    filter: drop-shadow(0 4px 5px #00000029);
    width: 625px;
    height: 417px;
    
}

#left-side-div-final-section {
    flex-basis: 50%;
    
}

#right-side-div-final-section {
    flex-basis: 40%;
    margin-top: 105px;
    color: #6C6C6C;
    margin-left: 80px;
    
    
    
    
}

#right-side-div-final-section a {
    text-decoration: none;
    color: white;
}

#right-side-div-final-section h1 {
    font-family: 'Nunito';
    
    
}

#right-side-div-final-section button {
    
    font-family: 'Nunito';
}

#right-side-div-final-section h2, h5 {
    font-family: 'Open Sans', sans-serif;
    
}

#right-side-div-final-section h2 {
    margin-top: -10px;
    font-size: 30px;
    width: 610px;
    
}

#right-side-div-final-section h1 {
    font-size: 44px;
    width: 300px;
    position: relative;
    right: 570px;
}

#right-side-div-final-section h5 {
    font-size: 20px;
    width: 500px;
}

#btn1 {
    background-color: white;
    border: 3px solid #42C0F6;
    border-radius: 8px;
    width: 175px;
    height: 35px;
    filter: drop-shadow(0 4px 5px #00000029);
    font-size: medium;
    color: #6C6C6C;

}

#btn2 {
    background-color: #F91C85;
    border: 3px solid #F91C85;
    border-radius: 8px;
    width: 175px;
    height: 35px;
    margin-left: 30px;
    color: white;
    filter: drop-shadow(0 4px 5px #00000029);
    font-size: medium;
    
}

