.young-hero-section {
    width: 1920px;
    height: 400px;
    top: 64px;
    left: 0px;
    background: transparent url('./images/Hero\ image\ option\ 1\ edit\ 2.png');
    opacity: 1;
}

.prepare-young-minds {
    width: 588px;
    height: 140px;
    top: 115px;
    left: 266px;
    background: transparent url('./images/Prepare\ young\ mindsfor\ a\ better\ future..png');
    opacity: 1;
    position: absolute;

}

.sub-header-explaining-website-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: left;
    top: 266px;
    left: 266px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;
}

.first-section-button-one {
    width: 175px;
    height: 35px;
    background-color: #FFF;
    border-radius: 7px;
    border-color: #43C0F6;
    font-size: large;
    border-width: 4px;
    font-family: 'Nunito', sans-serif;
    color: #6C6C6C;
    position: absolute;
    top: 381px;
    left: 398px;
}

.first-section-button-two {
    width: 175px;
    height: 35px;
    background-color: #F91C85;
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    color: #FFF;
    font-weight: 100;
    top: 381px;
    left: 645px;
    position: absolute;
}

.first-section-button-two a {
    text-decoration: none;
    color: #FFF;
}

.button-two-sign-up-disclaimer {
    left: 645px;
    top: 419px;
    position: absolute;
    width: 175px;
    height: 37px;
    font-size: x-small;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
}