.teaching-kids-progamming h2 {
font-family: 'Nunito', sans-serif;
color: #6C6C6C;
text-align: center;
margin-top: 200px;
font-size: 30px;


}

.four-images-teaching-kids-programming {
    display: flex;
    width: 1920px;
    flex-direction: row;
    justify-content: center;

}

#img-01 {
  
    opacity: 1;
    width: 320px;
    height: 231px;
    margin: 0 20px;
}
#img-02 {
    width: 320px;
    height: 231px;
    margin: 0 20px;
}
#img-03 {
    opacity: 1;
    width: 320px;
    height: 231px;
    margin: 0 20px;
}
#img-04 {
    opacity: 1;
    width: 320px;
    height: 231px;
    margin: 0 20px;
}












@media screen 
    and (max-width: 400px)
    { .four-images-teaching-kids-programming {
        flex-direction: column;
        align-items: center;
        right: 260px;
        position: relative;
    }}
  
@media screen 
and (min-width: 1366px) {
    .four-images-teaching-kids-programming {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 300px;
    } #img-01 {
        opacity: 1;
        width: 280px;
        height: 231px;
        
    }
    #img-02 {
        width: 280px;
        height: 271px;
       
    }
    #img-03 {
        opacity: 1;
        width: 280px;
        height: 271px;
        
    }
    #img-04 {
        opacity: 1;
        width: 280px;
        height: 231px;
        
    }
}