.what-we-offer-parent-div {
    height: 590px;
    width: 1920px;
    display: flex;

}

.left-side-what-we-offer {
    flex-basis: 50%;
}

.what-we-offer-header {
    width: 292px;
    height: 57px;
    right: 297px;
    position: relative;
    top: 114px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-align: left;
    color: #6C6C6C;
}

.what-we-offer-header-two {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
    font-size: 18px;
    width: 554px;
    height: 131px;
    top: 657px;
    left: 270px;
    position: absolute;
}

.what-will-students-create {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 823px;
    left: 270px;
    width: 384px;
    height: 41px;
    color: #6C6C6C;


}

.four-boxes {
    display: flex;
    top: 900px;
    left: 270px;
    position: absolute;
    width: 650px;
    justify-content: space-around;


}

.box-one {
    height: 152px;
    width: 152px;
    background: radial-gradient(#88DBFF, #42C0F6);
    border: 1px solid #42C0F6;
    border-radius: 20px;
    filter: drop-shadow(0 4px 5px #00000029);
    display: flex;
    justify-content: center;




}

.box-two {
    height: 152px;
    width: 152px;
    background: radial-gradient(#88DBFF, #42C0F6);
    border: 1px solid #42C0F6;
    border-radius: 20px;
    filter: drop-shadow(0 4px 5px #00000029);
    display: flex;
    justify-content: center;
}

.box-three {
    height: 152px;
    width: 152px;
    background: radial-gradient(#88DBFF, #42C0F6);
    border: 1px solid #42C0F6;
    border-radius: 20px;
    filter: drop-shadow(0 4px 5px #00000029);
    display: flex;
    justify-content: center;
}

.box-four {
    height: 152px;
    width: 152px;
    background: radial-gradient(#88DBFF, #42C0F6);
    border: 1px solid #42C0F6;
    border-radius: 20px;
    filter: drop-shadow(0 4px 5px #00000029);
    display: flex;
    justify-content: center;
}

.animation {
    background: transparent url(./images/frame\ copy.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    mix-blend-mode: overlay;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
}

.gaming {
    background: transparent url(./images/joystick\ copy.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    mix-blend-mode: overlay;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
}

.chatbots {
    background: transparent url(./images/robotic\ copy.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    mix-blend-mode: overlay;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
}

.augmented-reality {
    background: transparent url(./images/augmented-reality\ copy.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    mix-blend-mode: overlay;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
}

#text-for-animation-box {
    width: 88px;
    height: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    position: relative;
    top: 90px;
    left: 0;
    text-align: center;
}

#text-for-gaming-box {
    width: 88px;
    height: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    position: relative;
    top: 90px;
    text-align: center;
}

#text-for-chatbot-box {
    width: 88px;
    height: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    position: relative;
    top: 90px;
    left: 0;
    text-align: center;
}

#text-for-augmented-reality-box {
    width: 88px;
    height: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    position: relative;
    top: 90px;
    left: 0;
    text-align: center;
}

#button-for-animation {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#button-for-games {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#button-for-chatbots {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#button-for-augmented-reality {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

/* Now moving on to write the CSS for the write side of this div which contains the four project images */


.right-side-what-we-offer {
    width: 728px;
    height: 493px;
    top: 542px;
    left: 1010px;
    position: absolute;
}
.right-side-what-we-offer img {
    width: 450px;
    height: 450px;
    position: relative;
    left: 150px;
}

#container-for-circles-flexbox {
    left: 300px;
    position: relative;
    bottom: 10px;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
        
}
#circle-one {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
  
}

#circle-one2 {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    background-color: #707070;
    
}
#circle-two {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    
    
}
#circle-two2 {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    background-color: #707070;
}
#circle-three {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    
   
    
}
#circle-three2 {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    background-color: #707070;
}
#circle-four {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    
    
}
#circle-four2 {
    border: 2px solid #707070;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    background-color: #707070;
}

#container-for-circles-flexbox button {
    background: none;
    border: none;
    cursor: pointer;
}
