#login-parent-container {
    height: 1000px;
    width: 920px;
    display: flex;
    margin-top: 56px; 
    box-shadow: 0px 3px 6px #00000029;  
    background-color: #FFF;
    
}

#exit-button-div img {
    height: 35px;
    width: 35px;
    left: 1290px;
    top: 0;
    position: absolute;
    
}

#left-side {
    flex: 50%;
    border-right: 1px solid #707070;  
}

#right-side {
   flex: 50%;
   margin-top: 0;
   margin-right: 0;
   margin-left: 0;
   border-left: 1px solid #707070;
  
}

#left-side img {
    margin-left: 80px;
    margin-top: 90px;
}

#right-side img {
    margin-left: 80px;
    margin-top: 85px;
}

#students-header {
    font-family: 'Nunito';
    font-size: 44px;
    color: #707070;
    text-align: center;
}

#teachers-header {
    font-family: 'Nunito';
    font-size: 44px;
    color: #707070;
    text-align: center;
}

.unclicked-btn {
   color: #A5A5A5;
   text-align: center;
   margin: 0 10px;
   background: none;
   border: none;
   font-size: 18px;
   width: 86px;
   height: 33px;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
}

.clicked-login-btn {
   color: #A5A5A5;
   text-align: center;
   margin: 0 10px;
   background: none;
   border: none;
   font-size: 18px;
   width: 86px;
   height: 33px;
   font-family: 'Open Sans', sans-serif;
   border-bottom: 4px solid #43C0F6;
   cursor: pointer;
}
.clicked-btn {
   color: #A5A5A5;
   text-align: center;
   margin: 0 10px;
   background: none;
   border: none;
   font-size: 18px;
   width: 86px;
   height: 33px;
   font-family: 'Open Sans', sans-serif;
   border-bottom: 4px solid #F91C85;
   cursor: pointer;
}


#student-button-div {
    display: flex;
    justify-content: center;
}
#teacher-button-div {
    display: flex;
    justify-content: center;
}

#student-form-sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;   
}
#student-form-sign-up1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;   
}
#student-form-log-in {
    display: flex;
    align-items: center;
    flex-direction: column;  
}
#student-form-log-in1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;   
}
#teacher-form-sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;   
}
#teacher-form-sign-up1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;   
}
#teacher-form-log-in {
    display: flex;
    align-items: center;
    flex-direction: column;
      
}
#teacher-form-log-in1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;   
}
#SIGN-UP {
    width: 150px;
    margin-top: 30px;
    background-color: #F91C85;
    border-radius: 8px;
    border: 1px solid #F91C85;
    font-family: 'Nunito';
    color: #FFF;
    filter: drop-shadow(0 4px 5px #00000029);
}

.text-fields {
    height: 30px;
    width: 220px;
    margin-top: 30px;
    color:#A5A5A5;
    border-radius: 8px;
    border: 1px solid #A29F9F;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;   
}
