.btn{
    background-color: rgb(174, 98, 98);
    color: white;
    display: flex;
    padding:15px 30px;
    justify-items: end;
    margin-left: 33cm;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
}