.navbar-parent-div {
    background-color: #43C0F6;
    width: 1920px;
    height: 64px;
}

.left-side-child-of-navbar {
    left: 136px;
    top: 5px;
    width: 174px;
    height: 55px;
    background: transparent url('images/Star\ Logo\ 07-2.png');
    position: relative;

}

.center-child-of-navbar {
    font-size: 16px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;

}

.screenshot {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    background-color: #e5ab2c;
    left: 1130px;
    top: 16px;
    width: 150px;
    height: 32px;
    position: absolute;

}

.ask-help {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    background-color: #f91c85;
    left: 1290px;
    top: 16px;
    width: 150px;
    height: 32px;
    position: absolute;

}

.teachers-button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    background-color: #e5ab2c;
    left: 1450px;
    top: 16px;
    width: 150px;
    height: 32px;
    position: absolute;


}

.right-side-child-of-navbar {
    font-size: 16px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF
}

.user-circle-logo {
    background: transparent url('./images/Icon\ awesome-user-circle.png');
    opacity: 1;
    left: 1497px;
    width: 24px;
    height: 24px;
    top: 14px;
    position: absolute;
}

.features-and-login-text {
    top: 16px;
    left: 1531px;
    width: 148px;
    height: 22px;
    position: absolute;

}

.lang-button {
    top: 1px;
    left: 1561px;
    width: 148px;
    height: 22px;
    position: absolute;
    font-size: 12px;

}

.kiwi-flag {
    background: transparent url('./images/NZ\ Flag.png');
    opacity: 1;
    top: 0;
    left: 1610px;
    width: 24px;
    height: 12px;
    position: absolute;
}

.maori-flag {
    background: transparent url('./images/Maori\ flag.png');
    opacity: 1;
    top: 0;
    left: 1650px;
    width: 24px;
    height: 12px;
    position: absolute;
}