.container {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 1mm;
    margin-bottom: 1mm;
    margin-left: 20mm;
    margin-right: 20mm;

}

.Side_bar {
    flex: 1;
    background-color: skyblue;
    padding: 20px;
    text-align: left;
}
h4{
    text-decoration: underline;
}

.Images {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     padding: 20px;
}

img {
    height: 7cm;
    width: 7cm;
    margin: 7mm;
    border-radius: 5%;
    border-color: black;
}