.main{
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1mm;
    margin-bottom: 1mm;
    margin-left: 20mm;
    margin-right: 15mm;

}

.Side_bar {
    flex: 1;
    background-color: skyblue;
    padding: 20px;
    text-align: left;
   
}
h4{
    text-decoration: underline;
}

.Images {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
text-align: center;
     padding: 50px;
   column-gap: 20mm;
   
}

img {
    height: 8cm;
    width: 8cm;
    margin: 7mm;
    border-radius: 5%;
    border-color: black;
    border-image: fill;
}
h1{
    text-align: left;
    margin-left: 16cm;
    font-family: 'Open Sans', sans-serif;
}