.main{
  width: 100%;
  font-family:Nunito, Black ;
  position:relative;
  display:block;
}
.container {

  display: flex;
  flex-wrap: wrap;
  margin-top: 1mm;
  margin-bottom: 1mm;
  margin-left: 20mm;
  margin-right: 20mm;

}

.Side_bar {
  position:relative;
  flex: 1;
  padding: 20px;
  text-align: left;
}
h4{

  text-decoration: underline;
}

.Images {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   padding: 20px;
}

img {
  height: 7cm;
  width: 7cm;
  margin: 7mm;
  border-radius: 5%;
  border-color: black;
}

h1{
  text-align: left;
  margin-left: 15cm;
}