.ProjectPage_main{
  width: 1920px;
  font-family:Nunito, Black ;
  position:relative;
  display:block;
  color: #6c6c6c;

}
.container {

  display: flex;
  flex-wrap: wrap;
  margin-top: 1mm;
  margin-bottom: 1mm;
  margin-left: 20mm;
  margin-right: 20mm;

}

.ProjectPage_Side_bar {
  position:relative;
  flex: 1;
  padding: 20px;
  text-align: left;
  margin-left: 6cm;
}
.ProjectPage_Side_bar h4{

  text-decoration: underline;
}

.Project_Images {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   padding: 20px;
   text-align: center;
}
.Project_Images img {
  height: 7cm;
  width: 7cm;
  margin: 7mm;
  border-radius: 5%;
  border-color: black;
}
.ProjectPage_main h1{
  text-align: left;
  margin-left: 15cm;
  color: #6c6c6c;
}