.upload-parent-container {
    width: 1920px;
    height: 3625px;
    top: 64px;
    left: 0px;
    background-color: #b1e4fa;
}

.upload-split-div {
    border-radius: 30px;
    width: 74%;
    height: 80%;
    top: 128px;
    left: 275px;
    background-color: #d9f2fd;
    position: absolute
}

.screenshot-img {
    max-width: 500px;
    background-image: url(./images/StudentDashboard/makeProject-screenshot.png);
    top: 70px;
    left: 135px;
    position: absolute;

}

.submit-text1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    top: 400px;
    left: 235px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.submit-text2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    top: 470px;
    left: 110px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.submit-butt {
    display:flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #f91c85;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    top: 580px;
    left: 265px;
    width: 250px;
    height: 160px;
    color: #6C6C6C;
    position: absolute;

}

.upload-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
}


.call-teacher-butt {
    border-color: black;
    border-top-width: 5px;    
    display:flex ;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f91c85;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    top: 580px;
    left: 900px;
    width: 250px;
    height: 160px;
    color: #6C6C6C;
    position: absolute;
    text-shadow: black;

}

.subphoto-img {
    top: 69px;
    left: 820px;
    width: 450px;
    height: 267px;
    color: #6C6C6C;
    position: absolute;


}

.show-teacher1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    top: 400px;
    left: 900px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.show-teacher2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    top: 470px;
    left: 750px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}


.submit-butt2 {
    display: block;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccd1d3;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    top: 0px;
    left: 720px;
    width: 3px;
    height: 100%;
    color: #6C6C6C;
    position: absolute;

}
/* Project Submissions css*/
.project-subs-container {
    display: flex;
    justify-content: baseline;
    border-radius: 30px;
    width: 74%;
    height: 80%;
    top: 128px;
    left: 275px;
    background-color: #d9f2fd;
    position: absolute
}

.pro-sub-text1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    top: 40px;
    left: 80px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.pro-sub-text2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    top: 55px;
    left: 880px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.pro-sub-text3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    top: 55px;
    left: 1080px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;
}
/* Notifications css*/
.notification1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-align: left;
    top: 30px;
    left: 200px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.notification-bar {
    display:flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    top: 150px;
    left: 140px;
    width: 83%;
    height: 250px;
    color: #6C6C6C;
    position: absolute;
}

.notification-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: right;
    top: 50px;
    left: 950px;
    width: 120px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;
}

.submitted-screenshot-img {
    width: 170px;
    height: 145px;
    background-image: url(./images/StudentDashboard/makeProject-screenshot.png);
    top: 55px;
    left: 240px;
    position: absolute;

}

/* Notfications 2nd Bar css*/
.notification-bar2 {
    display:flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    top: 425px; 
    left: 140px;
    width: 83%;
    height: 180px;
    color: #6C6C6C;
    position: absolute;
}

.notification2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-align: left;
    top: 30px;
    left: 200px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;
}

.notification-date2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: right;
    top: 50px;
    left: 950px;
    width: 120px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;
}