.upload-parent-container {
    width: 1920px;
    height: 3625px;
    top: 64px;
    left: 0px;
    background-color: #b1e4fa;
}

.upload-split-div {
    border-radius: 30px;
    width: 76%;
    height: 80%;
    top: 128px;
    left: 275px;
    background-color: #d9f2fd;
    position: absolute
}

.screenshot-img {
    max-width: 400px;
    background-image: url(./images/StudentDashboard/makeProject-screenshot.png);
    top: 100px;
    left: 150px;
    position: absolute;

}

.submit-text1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: left;
    top: 365px;
    left: 228px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}

.submit-text2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    top: 425px;
    left: 88px;
    width: 562px;
    height: 98px;
    color: #6C6C6C;
    position: absolute;

}